version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: comissio_postgres
    environment:
      POSTGRES_DB: comissio_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - comissio_network
    restart: always

  comissio-app:
    container_name: comissio_app_container
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/comissio_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      API_SECURITY_TOKEN_SECRET: ${ENV_FILE_JWT_SECRET}
      APP_SPRING_MAIL_USERNAME: ${ENV_FILE_EMAIL_USERNAME}
      APP_SPRING_MAIL_PASSWORD: ${ENV_FILE_EMAIL_PASSWORD}

    networks:
      - comissio_network
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: comissio_prometheus
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - comissio_network
    depends_on:
      - comissio-app
    restart: unless-stopped

  grafana:
    image: grafana/grafana-oss:latest
    container_name: comissio_grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./config/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
    networks:
      - comissio_network
    depends_on:
      - prometheus
    restart: unless-stopped

volumes:
  pgdata: {}
  prometheus_data: {}
  grafana_data: {}

networks:
  comissio_network:
    driver: bridge
