version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: comissio_postgres
    environment:
      POSTGRES_DB: comissio_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
